
html {
	scroll-behavior: smooth;
}




.navbar-perso1 {
    text-align: left;
    background-image: url(images/propos4.jpg);
    margin: left;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.navbar-perso {
 position: sticky;
    z-index: 999999;
    top:0;
     margin: left;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    background-color : #ded9dd;

}
.navbar-perso ul {
    display: flex;
    justify-content: inherit;
    list-style: none;
    width: 100%;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;

}

h1 { 
	font-family: 'Dancing Script', cursive;
	font-size: 70px;
}



h2	{
	font-family: 'Dancing Script', cursive;
	color : grey;
	padding-left: 20px;
	font-weight: bold;
	font-size: 50px;
}

h3 {
	font-family: 'Dancing Script', cursive;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	
}


p {
	font-size: 12px;
	opacity: 1;
}


#propos3 {
	margin:left;
}

#date {
	color: white;
	text-align: center;
}

#exptext {
	color: black;
	text-align: center;
}

.formation {
	text-align : left;
	position: relative;
	background-image: url(images/formation.jpg);
	background-size: cover;
	height: 650px;
	padding: 50px 60px 50px 60px;
}

.formation img {
	height: 80%;
}

.rond1-formation {
	position: absolute;
	left:520px;
	bottom: 433px;
	background-color:#568a5090;
	border-radius: 5%;
	padding: 10px;
}
.rond2-formation {
	position: absolute;
	left:86px;
	bottom: 351px;
	background-color:#568a5090;
	border-radius: 5%;
	padding: 10px;
}

.rond3-formation {
	position: absolute;
    left: 58px;
    bottom: 174px;
    background-color: #568a5090;
    border-radius: 5%;
    padding: 10px;
}

.rond4-formation {
	position: absolute;
	left: 268px;
	bottom:20px;
	background-color:#568a5090;
	border-radius: 5%;
	padding: 10px;
}

.banner {
	text-align : left;
	position: relative;
	background-image: url(images/experiences3.jpg);
	background-size: cover;
	height: 700px;
	padding: 50px 60px 50px 60px;
}

.carre1-banner{
	position: absolute;
	left:1000px;
	bottom: 300px;
	background-color: #867f7f90;
    border-radius: 10%;
}

.carre2-banner{
	position: absolute;
	left:53px;
	bottom: 32px;
	background-color: #867f7f90;
    border-radius: 10%;
}

.carre3-banner{
	position: absolute;
	left:242px;
	bottom: 341px;
	background-color: #867f7f90;
    border-radius: 10%;
}


.carre4-banner{
	position: absolute;
	left:785px;
	bottom: 92px;
	background-color: #867f7f90;
    border-radius: 10%;
}

.info-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	background-color:white;
	padding: 30px;
	text-align: center;
}

.info-container img {
	height: 80%;
}


.info-container p {
	margin-top:40px;
	font-family: 'Exo', sans-serif;
	font-size: 20px;
}

.nav-link-perso {
	color: grey;
}

#photoprofil {
	border-radius: 50%;
    width: 20%;
    padding-bottom: 15px;
    padding-right: 50px;
}

#marketingdigital {
	height: 200px;
	padding-left: 30%;
}


.menu ul {
	display: flex;
	justify-content: space-around;
}

.menu ul li {
	list-style : none;

}

.grossecompetences {
	
	position: relative;
	background-image: url(images/competences3.jpg);
	height: 650px;
	padding: 50px 60px 50px 60px;
	background-size: cover;
	
}

#bluebar::-moz-progress-bar {
  background-color: red;
}



.competences {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1px;
	padding: 30px;
	text-align: center;
	
}


.competencestech {
}

div.carousel-inner {
	height: 400px;
}

div.bd-example {
	width: 400px;
	margin-left: auto;
	margin-right: auto;	
}

.hobbies {
	text-align : left;
	position: relative;
	background-image: url(images/hobbies2.jpg);
	background-size: cover;
	height: 650px;
	padding: 50px 60px 50px 60px;
}
.contact {
	background-color: #dcd4c1;
	text-align: center;
	height: 200px;
	text-align: left;

}
